h1
   border-bottom 1px solid #ddd
   padding 1em 1.5em
   font-weight normal
   box-shadow 0 0 10px rgba(0, 0, 0, 0.1)
   color #aaa

ul
   li
      color #666
      cursor default
      border-bottom 1px solid transparent

      &:hover
         background #f6f6f6
         color #000

      &.separator
         border-bottom-color #eee
