h1
   border-bottom 1px solid #ddd
   padding 1em 1.5em
   font-weight normal
   box-shadow 0 0 10px rgba(0, 0, 0, 0.1)
   color #aaa

ul
   li
      padding 0.7em 1.5em
      color #444
      cursor default

      &:hover
         background #eee

      &.separator
         padding 0
         margin 0
         border-top 1px solid #eee
         height 0
